@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;700&display=swap");
:root {
  --primary-color: #FDD23C;
  --secondary-color: #99472D;
}

body {
  background: var(--primary-color);
  margin: 0;
}

h1 {
  text-align: center;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;  
}

.s0 {
  background-image: url("img/image.jpg");
  background-size: cover;
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

.s0 h1 {
  font-family: 'Montserrat bold';
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;  
  font-size: 5em;
}

#campus {
  background-image: url("img/campus.jpg");
  background-size: cover;
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

#campush1 {
  text-align: center;
  padding-top: 10em;
  font-size: 6em;
}

.s1 {
  background-color: var(--primary-color);
  display: flex;
  font-size: 0.5em;
}

.s1 h1 {
  text-align: center;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  /* font-size: 8em; */
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 6em;
}

.s1 p {
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  width: 90%;
  display: flex;
  font-size: 3em;
  text-align: center;
  max-width: -webkit-calc(30em - (1.3em*2));
  max-width:calc(30em - (1.3em*2));
  margin-right:auto;
  margin-left:auto;
  padding-right:1.3em;
  padding-left:1.3em;
  font-size: 3em;
}

.s1 a {
  text-align: center;
  font-size: 0.7em;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  text-decoration: none;
}

.s1 a:hover {
  color: var(--secondary-color);
}

.s1 h2 {
  text-align: center;
  padding-top: .1em;
}

.s2 {
  background-color: var(--primary-color);
  display: flex;
}

.majors {
  font-size: 3em;
}

#major {
  background-image: url("img/major.jpg");
  background-size: cover;
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

#major1 {
  background-image: url("img/major1.jpg");
  background-size: cover;
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

#major2 {
  background-image: url("img/major2.jpg");
  background-size: cover;
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

#major3 {
  background-image: url("img/major3.jpg");
  background-size: cover;
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

#major4 {
  background-image: url("img/major4.jpg");
  background-size: cover;
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

#scholarships {
  background-image: url("img/scholarships.jpg");
  background-size: cover;
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

.s2 h1 {
  text-align: center;
  font-size: 2.5em;
  color: white;
  padding-top: 4em;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  padding-top: 4em;
  padding-bottom: 2em;
  margin-bottom: -2.0em;
}

.s2 h2 {
  text-align: center;
  font-size: 1em;
  color: white;
  padding-bottom: 5em;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.s2 p {
  color: white;
  text-align: center;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  width: 90%;
  display: flex;
  font-size: 3em;
  text-align: center;
  max-width: -webkit-calc(30em - (1.3em*2));
  max-width: calc(30em - (1.3em*2));
  margin-right: auto;
  margin-left: auto;
  padding-right: 1.3em;
  padding-left: 1.3em;
  font-size: 1em;
}

.s3 {
  background-color: var(--primary-color);
  display: flex;
  font-size: 0.5em;
}

.s3Home {
  background-image: url("img/about2.jpg");
  background-size: cover;
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

.s3 h1 {
  text-align: center;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  /* font-size: 8em; */
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.s3 p {
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  width: 90%;
  display: flex;
  font-size: 3em;
  text-align: center;
  max-width: -webkit-calc(30em - (1.3em*2));
  max-width: calc(30em - (1.3em*2));
  margin-right: auto;
  margin-left: auto;
  padding-right: 1.3em;
  padding-left: 1.3em;
}

#scholarships h1 {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 0.6em;
  padding-bottom: 2em;
  margin-bottom: -2em;
}

#scholarships h2 {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-bottom: 0.2em;
}

#scholarships p {
  font-size: 1em;
}

#fp-nav ul li a span, .fp-slidesNav ul li a span {
  background: white;
}

.navbar {
  background-color: var(--primary-color);
}

.navbar-dark .navbar-nav .nav-link {
  color: var(--secondary-color);
  font-size: 1.3em;
  font-family: 'Open Sans Bold', sans-serif;
  padding: 10px;
  margin-left: 12px;
}

.apply-cta {
  color: var(--secondary-color);
  border: 3px solid var(--secondary-color);
  font-weight: bold;
  border-radius: 5em;
  margin-top: -.2em;
  padding: -50px;
}

.apply-cta:hover {
  background: var(--secondary-color);
  color: white;
}

a:hover {
  color: black;
}

span.sr-only {
  color: black;
}

.navbar-toggler {
  width: 2.8em;
  height: 2em;
  background-color: var(--secondary-color);
}

.navbar-toggler .line {
  width: 100%;
  float: left;
  height: 2px;
  background-color: #fff;
  margin-bottom: 5px;
}

.fp-slidesNav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 2em;
}

body::-webkit-scrollbar {
  width: 10px;
  /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: var(--primary-color);
  /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
}
img, svg {
  vertical-align: middle;
  height: 70px;
}
.maj h1 {
  font-size: 68px;
  padding-top: 14rem;
}

iframe {
  display: block;
  margin: 0 auto;
  overflow: hidden;
  z-index: 1;
  border: 4px solid white;
  border-radius: 10px;
  width: 360px;
  height: 315px;
}

.player {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.nome{
  height: 100%;
}

/* .player {

} */

/* ============== Meet our Team ============== */
.cont_meet{
  padding-top: 90px;
  height: 100vh;
  justify-content: center;
}
.shadow_color{
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.cont_meet p{
  padding: 10px;
  margin-bottom: 10px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  justify-content: center;
  font-size: 2em;
}
.cont_meet img{
  height: 166px;
  border-radius: 10px;
  box-shadow: 5px 7px 5px rgba(50, 50, 50, 0.77);
}
.who p{
  padding: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  justify-content: center;
  font-size: 12px;
}
.who{
  display: grid;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: space-around;
}
.people{
  margin: 1rem;
  height: 31rem;
  width: 15rem;
  /*
  border-style: solid;
  border-color: var(--secondary-color);
  */
}

.back_paper{
  background: #21252947;
  width: 100%;
  height: 300px;
  padding: 20px;
  border-radius: 10px;
}

@media screen and (min-width: 870px){
  .who{
    display: flex;
  }
  .people{
    margin: 1rem;
    height: 520px;
    width: 15rem;
    
    /*
    border-style: solid;
    border-color: var(--secondary-color);
    */
    
  }
  .cont_meet img{
    height: 165px;
  }
  .who p{
    padding: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    justify-content: center;
    font-size: 13px;
  }
}

@media only screen and (min-width: 1048px) {
  .people{
    margin: 18px;
    height: 560px;
    width: 300px;
    
    /*
    border-style: solid;
    border-color: var(--secondary-color);
    */
    
  }
  .cont_meet img{
    height: 208px;
  }
  .who p{
    padding: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    justify-content: center;
    font-size: 14px;
  }

  .back_paper{
    background: #21252947;
    width: 55%;
    margin-left: 23%;
    height: 61%;
    margin-top: 20px;
  }

}

#mc_embed_signup {
  width: 40rem;
}

/* ============== ============== ============== */

/* ============== Modal Merchandise ============== */

.modal-header, .modal-body, .modal-footer{
  background-color: var(--primary-color);
}
.btn_header button, h4{
  color: var(--secondary-color);
  border-radius: 0rem;
  border: 0rem;
  font-size: 25px;
  font-weight: bolder;
  background-color: var(--primary-color);
}
.seta{
  color: #000;
}

/* ============== ============== ============== */

@media only screen and (min-width: 270px){
  #scholarships h1 {
    padding-top: 4em;
  }

  #scholarships p {
    font-size: 1.2em;
  }

  .s2 h2{
    padding-bottom: 1em;
  }
  .s0 h1 {
	  font-size: 3em;
  }
  .back_paper{
    background: #21252947;
    width: 86%;
    margin-left: 7%;
    height: 74%;
    margin-top: 20px;
  }
  .s3 p{
	  font-size: 2.2em;
  }
}

@media only screen and (max-width: 576px) {
  .cardQuinto {
    padding-top: 3.5em;
  }
}

@media only screen and (min-width: 768px) {
  .navbar .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 180px auto;
    grid-template-columns: 180px auto;
  }
  .navbar nav {
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;
  }
  .navbar nav ul {
    display: flex;
  }
  .navbar nav a {
    color: black;
    font-size: 1em;
    padding: .1em 1em;
    padding-top: 1em 1em;
  }
  .navbar nav ul.primary-nav {
    margin: 0;
  }
  .navbar nav li.current a {
    font-weight: bold;
  }
  .navbar nav .navbar-dark .navbar-nav .nav-link {
    color: var(--secondary-color);
    padding: 0.5em;
  }

  .s2 p {
    font-size: 1.3em;
  }

  .s3 {
    background-color: var(--primary-color);
    display: flex;
  }

  .s3 h1 {
    text-align: center;
    font-size: 6em;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .s3 p {
    font-size: 2em;
  }
  .maj h1 {
    font-size: 80px;
    padding: 18rem;
  }
  #scholarships h1{
    padding-top: 6.2rem;
  }

  iframe {
    width: 500px;
    height: 400px;
  }

  .s2 h2{
    padding-bottom: 1em;
  }

  #scholarships h1 {
    padding-top: 4em;
  }

  #scholarships p {
    font-size: 1.4em;
  }

  .back_paper{
    background: #21252947;
    width: 55%;
    margin-left: 23%;
    height: 61%;
    margin-top: 20px;
  }
   .s0 h1 {
	font-size: 5em;
  }

}

@media only screen and (min-width: 994px) {
  .navbar-dark .navbar-nav .nav-link {
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }

  .navbar {
    background-color: rgba(255, 255, 255, 0);
  }

  .apply-cta {
    color: var(--secondary-color);
    border: 3px solid white;
  }

  .apply-cta:hover {
    background: rgba(255, 255, 255, 0.164);
    color: white;
  }

  .s3 p {
    font-size: 2.8em;
  }

  .s3 h1 {
    padding-top: 0em;
    padding-bottom: 2em;
    margin-bottom: -2em;
  }

  .s2 h1 {
    font-size: 2.2em;
    padding-top: 2.6em;
    padding-bottom: 2em;
    margin-bottom: -2em;
  }

  .s2 h2 {
    font-size: 1em;
    padding-bottom: 1em;
  }

  .s2 p {
    font-size: 1.5em;
    margin-top: -1.6em;
  }

  .sp p {
    font-size: 1.5em;
  }

  #scholarships p {
    padding-top: 1em;
    font-size: 1.6em;
  }

  #scholarships h1 {
    padding-top: 4em;
    padding-bottom: 2em;
  }
  
  #scholarships h2 {
    padding-bottom: 0.1em;
  }

  #campush1 {
    text-align: center;
    padding-top: 7em;
    font-size: 8em;
  }
  .maj h1 {
    font-size: 80px;
    padding: 18rem;
  }

  iframe {
    width: 750px;
    height: 450px;
  }
  .back_paper{
    background: #21252947;
    width: 59%;
    margin-left: 21%;
    height: 82%;
  }
}
@media only screen and (min-width: 1700px) {
  .maj h1 {
    font-size: 8.5em;
    padding-bottom: 2em;
  }

  /* .navbar-dark .navbar-nav .nav-link {
    font-size: 1.5em;
  } */

  img {
    height: 100px;
  }

  .s2 p{
    font-size: 2em;
    margin-top: 0rem;
  }

  .s2 h1 {
    padding-top: 2em;
    font-size: 4.2rem;
  }

  .s2 h2{
    font-size: 1.3rem;
    padding-bottom: 1em;
  }

  #scholarships p {
    padding-top: 1em;
    font-size: 1.2em;
  }

  #scholarships h1 {
    padding-top: 1.4em;
    padding-bottom: 1.6em;
  }

  #scholarships h2 {
    padding-top: 1.4em;
  }

  .s3 p {
    font-size: 3.6em;
  }

  iframe {
    width: 800px;
    height: 500px;
  }

  .back_paper{
    background: #21252947;
    width: 59%;
    margin-top: 8em;
    margin-bottom: 2em;
    margin-left: 21%;
    height: 82%;
  }
}
/*# sourceMappingURL=main.css.map */